@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor-principal: #9B0029;
    --cor-backgound: #000;
    --cor-gray: #aaa;
    --cor-text: #FFF;
    --color-light-black: #111;
}

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--cor-backgound) /*Fundo da barra */
}

html::-webkit-scrollbar-thumb {
    background: var(--cor-principal);
}

body {
    background: var(--cor-backgound);
}

section {
    padding: 5rem 9%;
}

/*todos os cabeçalhos das seções*/
.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    color: var(--cor-principal);
    background: var(--cor-backgound);
    padding: .5rem 1.5rem;
    border: .1rem solid var(--cor-gray);
    border-radius: .5rem;
}

/* Todos os botões */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, var(--cor-principal) 93%, transparent 90%);
    color: var(--cor-text);
    border-radius: .1rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: var(--cor-backgound);
}

.header .logo span {
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--cor-text);
    font-size: 3rem;
}

.header .logo .fitns {
    color: var(--cor-principal);
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--cor-text);
}

/*Barra abaixo dos links nav*/
.navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: .3rem;
    margin-top: .6rem;
    border-radius: .1rem;
    transition: all 0.3s;
    background: #9B0029;
    background: -webkit-linear-gradient(
        to right,
        #b33f47,
        #c94b2c,
        #9B0029
    );
}

.navbar a:hover::after {
    width: 4rem;
}

#btn-menu-burger {
    font-size: 3rem;
    color: var(--cor-text);
    cursor: pointer;
    display: none;
}

.home {
    padding: 0;
    margin-top: 5rem;
}

.home .slide {
    min-height: 90vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    -webkit-text-stroke: 0.045rem var(--cor-text);
    font-size: 3rem;
    font-weight: bolder;
    color: var(--cor-principal);
    display: block;
}

.home .slide .content h3 {
    font-size: 5rem;
    color: var(--cor-text);
    padding: 1rem 0;
}

/* bolinhas de passar slider, da biblioteca swiper */
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: var(--cor-text);
    border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--cor-principal);
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.about .image {
    flex: 1 1 42rem;
    position: relative;
}

.about .image::before, /* elemento antes */
.about .image::after { /* elemento antes */
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--cor-principal);
    height: 15rem;
    width: 15rem;
}

.about .image::before {
    top: 0;
    left: 0;
}

.about .image::after{
    bottom: 0;
    right: 0;
}
/* ajustando a imagem dento do elementos*/
.about .image img {
    width: 100%;
    padding: 2rem;
}

.about .content {
    flex: 1 1 42rem;
}

.about .content span {
    font-size: 2rem;
    color: var(--cor-principal);
}

.about .content .title {
    font-size: 4rem;
    color: var(--cor-text);
    margin-top: .5rem;
}

.about .content p {
    font-size: 1.5rem;
    color: var(--cor-gray);
    padding: 1rem 0;
    line-height: 2;
}

.about .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.about .content .box-container .box {
    flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
    font-size: 2rem;
    color: var(--cor-text);
}

.about .content .box-container h3 i {
    padding-right: 1.5rem;
    color: var(--cor-principal);
}

/* Serviços */
.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem,1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    background: var(--color-light-black);
}

.features .box-container .box.second {
    display: flex;
    flex-flow: column-reverse;
}

.features .box-container .box:hover .image img {
    transform: scale(1.1);
}

.features .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.features .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*object-fit: Serve para dimensionar a imagem, p/ manter sua 
    proporção e preencher toda a caixa de conteudo do elemento.*/
}

.features .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.features .box-container .box .content img {
    height: 9rem;
    margin-bottom: 1rem;
    filter: invert(1);
}

.features .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--cor-principal);
}

.features .box-container .box .content p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--cor-gray);
    padding: 1rem 0;
}

/* Preços */

.pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.pricing .information span {
    font-size: 2rem;
    color: var(--cor-principal);
}

.pricing .information h3 {
    font-size: 4rem;
    padding-top: .5rem;
    color: var(--cor-text);
}

.pricing .information p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--cor-gray);
}

.pricing .information p i {
    padding-right: 1rem;
    color: var(--cor-principal);
}

.pricing .information .fas.fa-check {
    font-weight: bolder;
    font-size: 1.6rem;
}

.pricing .plan {
    text-align: center;
    padding: 2rem;
}

.pricing .plan.basic {
    background: linear-gradient(130deg, var(--color-light-black) 93%, transparent 90%);
}

.pricing .plan h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--cor-text);
}

.pricing .plan .price {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--cor-principal);
}

.pricing .plan .price span {
    color: var(--cor-text);
    font-size: 2rem;
}

.pricing .plan .list {
    padding: 1rem 0;
}

.pricing .plan .list p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--cor-gray);
}

.pricing .plan .list .fas.fa-check {
    font-weight: bolder;
    font-size: 1.6rem;
}

.pricing .plan .list p i {
    padding-right: 1rem;
    color: var(--cor-principal);
}

/* Treimadores */
.trainers .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
}

.trainers .box-container .box {
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.trainers .box-container .box:hover .content {
    transform: translateY(0);
}

.trainers .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trainers .box-container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-light-black);
    padding: 2rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transform: translateY(6.5rem);
}

.trainers .box-container .box .content span {
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.trainers .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--cor-text);
    padding-top: .5rem;
}

.trainers .box-container .box .content .share {
    padding-top: 2rem; 
    margin-top: 1.5rem;
    border-top: .1rem solid var(--cor-gray);
}

.trainers .box-container .box .content .share a {
    font-size: 2rem;
    color: var(--cor-text);
    margin-right: 1.5rem;
}

.trainers .box-container .box .content .share a:hover {
    color: var(--cor-principal);
}

/* Banner */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/FITNESS\ CENTER\ _\ GYM.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.banner span {
    font-size: 2rem;
    color: var(--cor-principal);
}

.banner h3 {
    padding-top: 1rem;
    color: var(--cor-text);
    text-transform: uppercase;
    font-size: 3.5rem;
}

.banner p {
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: var(--cor-gray);
    line-height: 2;
}

/* Fidbaks */
.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.review .information {
    flex: 1 1 35rem;
}

.review .information span {
    font-size: 2rem;
    color: var(--cor-principal);
}

.review .information h3 {
    font-size: 3rem;
    color: var(--cor-text);
    padding-top: 1rem;
}

.review .information p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--cor-gray);
    padding: 1rem 0;
}

.review .review-slider {
    flex: 1 1 60rem;
}

.review .review-slider .slide {
    background: linear-gradient(130deg, var(--color-light-black) 93%, transparent 90%);
    padding: 2rem 3rem;
}

.review .review-slider .slide p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--cor-gray);
}

.review .review-slider .slide .user {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.review .review-slider .slide .user img {
    /* border: 2px solid #807e7e; */
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.review .review-slider .slide .user h3 {
    font-size: 2rem;
    color: var(--cor-text);
}

.review .review-slider .slide .user span {
    color: var(--cor-principal);
    font-size: 1.5rem;
}

.review .review-slider .slide .user i {
    font-size: 5rem;
    margin-left: auto;
    margin-right: 2rem;
    color: var(--cor-principal);
}

/* Blogs */

